USE [GQNA]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 12/10/2023 10:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[id_project] [int] IDENTITY(1,1) NOT NULL,
	[name_project] [nvarchar](255) NULL,
	[img_project] [nvarchar](500) NULL,
	[des_project] [nvarchar](max) NULL,
	[project_time_start] [datetime] NULL,
	[project_time_end] [datetime] NULL,
	[id_DT] [int] NULL,
	[project_amount] [decimal](18, 0) NULL,
	[status] [nvarchar](255) NULL,
 CONSTRAINT [PK_Project] PRIMARY KEY CLUSTERED 
(
	[id_project] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_admin]    Script Date: 12/10/2023 10:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_admin](
	[id_admin] [int] NOT NULL,
	[user_admin] [nvarchar](50) NULL,
	[name_user] [nvarchar](255) NULL,
	[user_pass] [nvarchar](255) NULL,
 CONSTRAINT [PK_tbl_admin] PRIMARY KEY CLUSTERED 
(
	[id_admin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_CD]    Script Date: 12/10/2023 10:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_CD](
	[id_CD] [int] IDENTITY(1,1) NOT NULL,
	[name_CD] [nvarchar](255) NULL,
	[img_CD] [nvarchar](255) NULL,
 CONSTRAINT [PK_tbl_CD] PRIMARY KEY CLUSTERED 
(
	[id_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_DT]    Script Date: 12/10/2023 10:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_DT](
	[id_DT] [int] IDENTITY(1,1) NOT NULL,
	[name_DT] [nvarchar](255) NULL,
	[avatar_DT] [nvarchar](255) NULL,
	[background_DT] [nvarchar](255) NULL,
	[back_slide] [nvarchar](255) NULL,
	[txt_DT] [nvarchar](max) NULL,
	[des_DT] [nvarchar](max) NULL,
 CONSTRAINT [PK_tbl_NHT] PRIMARY KEY CLUSTERED 
(
	[id_DT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_get_CD]    Script Date: 12/10/2023 10:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_get_CD](
	[id_get_CD] [int] IDENTITY(1,1) NOT NULL,
	[id_CD] [int] NULL,
	[id_Project] [int] NULL,
 CONSTRAINT [PK_tbl_get_CD] PRIMARY KEY CLUSTERED 
(
	[id_get_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_img]    Script Date: 12/10/2023 10:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_img](
	[id_img] [int] IDENTITY(1,1) NOT NULL,
	[id_project] [int] NULL,
	[url_img] [nvarchar](max) NULL,
 CONSTRAINT [PK_tbl_img] PRIMARY KEY CLUSTERED 
(
	[id_img] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_NHT]    Script Date: 12/10/2023 10:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_NHT](
	[id_NHT] [int] IDENTITY(1,1) NOT NULL,
	[user_NHT] [nvarchar](255) NULL,
	[pass_NHT] [nvarchar](255) NULL,
	[name_NHT] [nvarchar](255) NULL,
	[phone_NHT] [bigint] NULL,
	[email_NHT] [nvarchar](255) NULL,
 CONSTRAINT [PK_tbl_NHT_1] PRIMARY KEY CLUSTERED 
(
	[id_NHT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_QG]    Script Date: 12/10/2023 10:05:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_QG](
	[id_HD] [bigint] NOT NULL,
	[id_NHT] [int] NULL,
	[id_project] [int] NULL,
	[ThanhTien] [decimal](18, 0) NULL,
	[NgayQuyenGop] [datetime] NULL,
	[TrangThai] [nvarchar](255) NULL,
 CONSTRAINT [PK_tbl_QG] PRIMARY KEY CLUSTERED 
(
	[id_HD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Project] ON 

SET IDENTITY_INSERT [dbo].[Project] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_CD] ON 

INSERT [dbo].[tbl_CD] ([id_CD], [name_CD], [img_CD]) VALUES (1, N'Trẻ em', NULL)
INSERT [dbo].[tbl_CD] ([id_CD], [name_CD], [img_CD]) VALUES (2, N'Đời sống', NULL)
INSERT [dbo].[tbl_CD] ([id_CD], [name_CD], [img_CD]) VALUES (3, N'Môi trường', NULL)
SET IDENTITY_INSERT [dbo].[tbl_CD] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_DT] ON 

SET IDENTITY_INSERT [dbo].[tbl_DT] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_get_CD] ON 

INSERT [dbo].[tbl_get_CD] ([id_get_CD], [id_CD], [id_Project]) VALUES (3, 1, 9)
INSERT [dbo].[tbl_get_CD] ([id_get_CD], [id_CD], [id_Project]) VALUES (4, 1, 10)
INSERT [dbo].[tbl_get_CD] ([id_get_CD], [id_CD], [id_Project]) VALUES (5, 1, 11)
SET IDENTITY_INSERT [dbo].[tbl_get_CD] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_img] ON 

INSERT [dbo].[tbl_img] ([id_img], [id_project], [url_img]) VALUES (16, 9, N'/Content/images/ImgProject/momo-upload-api-231204110014-638372844148065698.jpg')
INSERT [dbo].[tbl_img] ([id_img], [id_project], [url_img]) VALUES (17, 9, N'/Content/images/ImgProject/momo-upload-api-231204110003-638372844039906633.jpg')
INSERT [dbo].[tbl_img] ([id_img], [id_project], [url_img]) VALUES (18, 9, N'/Content/images/ImgProject/momo-upload-api-231204105947-638372843873236907.jpg')
SET IDENTITY_INSERT [dbo].[tbl_img] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_NHT] ON 

INSERT [dbo].[tbl_NHT] ([id_NHT], [user_NHT], [pass_NHT], [name_NHT], [phone_NHT], [email_NHT]) VALUES (1, N'enjoy4624', N'1234', N'Lê Sỹ Hoài', 7070375271, N'enjoy4624@gmail.com')
SET IDENTITY_INSERT [dbo].[tbl_NHT] OFF
GO
INSERT [dbo].[tbl_QG] ([id_HD], [id_NHT], [id_project], [ThanhTien], [NgayQuyenGop], [TrangThai]) VALUES (638378394834962060, 1, 10, CAST(200000 AS Decimal(18, 0)), CAST(N'2023-12-10T21:11:23.497' AS DateTime), N'Thành công')
INSERT [dbo].[tbl_QG] ([id_HD], [id_NHT], [id_project], [ThanhTien], [NgayQuyenGop], [TrangThai]) VALUES (638378413400542625, 1, 9, CAST(100000 AS Decimal(18, 0)), CAST(N'2023-12-10T21:42:20.053' AS DateTime), N'Thành công')
GO
ALTER TABLE [dbo].[Project] ADD  CONSTRAINT [DF_Project_status]  DEFAULT (N'Đang diễn ra') FOR [status]
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD  CONSTRAINT [FK_Project_tbl_NHT] FOREIGN KEY([id_DT])
REFERENCES [dbo].[tbl_DT] ([id_DT])
GO
ALTER TABLE [dbo].[Project] CHECK CONSTRAINT [FK_Project_tbl_NHT]
GO
ALTER TABLE [dbo].[tbl_get_CD]  WITH CHECK ADD  CONSTRAINT [FK_tbl_get_CD_Project] FOREIGN KEY([id_Project])
REFERENCES [dbo].[Project] ([id_project])
GO
ALTER TABLE [dbo].[tbl_get_CD] CHECK CONSTRAINT [FK_tbl_get_CD_Project]
GO
ALTER TABLE [dbo].[tbl_get_CD]  WITH CHECK ADD  CONSTRAINT [FK_tbl_get_CD_tbl_CD] FOREIGN KEY([id_CD])
REFERENCES [dbo].[tbl_CD] ([id_CD])
GO
ALTER TABLE [dbo].[tbl_get_CD] CHECK CONSTRAINT [FK_tbl_get_CD_tbl_CD]
GO
ALTER TABLE [dbo].[tbl_img]  WITH CHECK ADD  CONSTRAINT [FK_tbl_img_Project] FOREIGN KEY([id_project])
REFERENCES [dbo].[Project] ([id_project])
GO
ALTER TABLE [dbo].[tbl_img] CHECK CONSTRAINT [FK_tbl_img_Project]
GO
ALTER TABLE [dbo].[tbl_QG]  WITH CHECK ADD  CONSTRAINT [FK_tbl_QG_Project] FOREIGN KEY([id_project])
REFERENCES [dbo].[Project] ([id_project])
GO
ALTER TABLE [dbo].[tbl_QG] CHECK CONSTRAINT [FK_tbl_QG_Project]
GO
ALTER TABLE [dbo].[tbl_QG]  WITH CHECK ADD  CONSTRAINT [FK_tbl_QG_tbl_NHT] FOREIGN KEY([id_NHT])
REFERENCES [dbo].[tbl_NHT] ([id_NHT])
GO
ALTER TABLE [dbo].[tbl_QG] CHECK CONSTRAINT [FK_tbl_QG_tbl_NHT]
GO
