
<div class="container">
    <div class="feature-29192-wrap d-md-flex" style="margin-top: -20px; position: relative; z-index: 2;">

        <a href="#" class="feature-29192 overlay-danger" style="background-image: url('https://icdn.dantri.com.vn/thumb_w/660/2021/07/01/ky-anhdocx-1625116015094.jpeg'); ">
            <div class="text">
                <span class="meta">Đời Sống</span>
                <h3 class="text-cursive text-white h1">Cơ Cực</h3>
            </div>
        </a>

        <a class="feature-29192 overlay-success" style="background-image: url('https://st.nhipcaudautu.vn/staticFile/Subject/2023/04/11/gaia-(6)-(2)-copy-2_111228373.jpg'); ">
            <div class="text">
                <span class="meta">Thiên Nhiên</span>
                <h3 class="text-cursive text-white h1">Bảo Vệ</h3>
            </div>
        </a>

        <div class="feature-29192 overlay-warning" style="background-image: url('https://tc.cdnchinhphu.vn/Uploaded/nguyenthilananh/2017_05_30/treemngheo.jpg'); ">
            <div class="text">
                <span class="meta">Trẻ Em</span>
                <h3 class="text-cursive text-white h1">Khó Khăn</h3>
            </div>
        </div>

    </div>
</div>