@model GQNA.Models.tbl_DT
@{
    ViewBag.Title = "detaildoitac";
    Layout = "~/Views/Shared/_Layout_DT.cshtml";
}

@{
    var cssVersion = DateTime.Now.Ticks;
}
<main>

    <div class="wrapper-box p-relative">
        <div class="hero-item hero-height p-relative">
            <div class="tpslider__thumb">
                <img src="https://homepage.momocdn.net/img/momo-upload-api-230216103955-638121407955191530.jpg" alt="">
            </div>
        </div>
        <div class="breadcrumb-area pt-265 pb-265">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb__content text-center">
                            <h1 class="breadcrumb__title"></h1>
                            <div class="breadcrumb__list">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="service-details-area pt-60">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="service-section mt-30  wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">

                        <h3 class="service-title">@Model.name_DT</h3>

                        <!-- portfolio details area start -->
                        <div class="portfolio-details-area pt-70">
                            <div class="container" style="padding-bottom:50px;">
                                <div class="col-xl-14 wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">

                                    <div class="row">
                                        <div class="col-3">
                                            <div class="portfolio-details-wrapper">
                                                <span class="portfolio-details-name">32</span>
                                                <p>dự án đã được gây quỹ</p>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="portfolio-details-wrapper portfolio-margin">
                                                <span class="portfolio-details-name">2+ tỷ</span>
                                                <p>đồng được quyên góp</p>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="portfolio-details-wrapper portfolio-margin">
                                                <span class="portfolio-details-name">6+ triệu</span>
                                                <p>lượt tham gia quyên góp</p>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="portfolio-details-wrapper portfolio-margin">
                                                <span class="portfolio-details-name">Date:</span>
                                                <p>Ocober 3, 2021</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- portfolio details area end -->


                        <div class="service-btn  wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                            <a class="tp-btn tp-btn-shine-effect" href="donation-details.html">Quyên Góp</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6  wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                    <div class="service-text mt-30">
                        <p>
                            Operation Smile (Phẫu Thuật Nụ Cười) là một tổ chức phi chính phủ quốc tế lâu đời chuyên cung cấp các ca phẫu thuật và chăm sóc y tế an toàn miễn phí nhằm nâng cao sức khoẻ và thay đổi cuộc đời cho hàng ngàn trẻ em và thanh thiếu niên bị các dị tật vùng hàm mặt tại hơn 60 quốc gia trên thế giới.
                        </p>
                        <p>
                            Operation Smile lần đầu có mặt tại Việt Nam năm 1989. Thông qua việc kết nối và xây dựng mạng lưới những chuyên gia y tế tình nguyện thực hiện các chuyến công tác phẫu thuật với tiêu chuẩn toàn cầu tại nhiều địa điểm còn thiếu thốn và nghèo khó, sau hơn 32 năm, Operation Smile đã cung cấp hơn 62.000 ca phẫu thuật và chăm sóc y tế miễn phí cho người dân và trẻ em tại Việt Nam đồng thời đào tạo cho hàng ngàn các chuyên gia y tế tình nguyện trên khắp đất nước thông qua hàng chục chương trình tái tạo nụ cười thay đổi cuộc đời mỗi năm.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- service details area end -->
    <!-- service thumb video area start-->
    <div class="service-thumb-video">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="service-img p-relative  wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                        <img src="https://homepage.momocdn.net/img/momo-upload-api-230216103955-638121407955191530.jpg" alt="">
                        <div class="service-play-btn">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- service thumb area end-->
    <!-- card area start -->
    <section class="card-area card-area-2 service-details pt-125 pb-130">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-10 col-md-8">
                    <div class="section-title-wrapper">
                        <span class="section-sub-title has-before has-after text-center">
                            Chương trình quyên góp
                        </span>
                        <h3 class="section-title text-center">
                            của Quỹ Nâng Bước Tuổi Thơ
                        </h3>
                    </div>
                </div>
            </div>
            <div class="causes-active slick-20">
                <div class="causes-item">
                    <div class="tpcard__wrapper tpcard__wrappr-2 white-bg">
                        <div class="tpcard__img grayscale">
                            <a href="donation-listing.html"><img src="~/Content/images/annie-spratt-feU8G7E5ODI-unsplash.jpg" alt=""></a>
                        </div>
                        <div class="tpcard__content">
                            <h4 class="tpcard__title">
                                <a href="donation-listing.html">Help Children Rise out of Poverty of this child</a>
                            </h4>
                            <div class="tpcard__progresss">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-label="Example with label"
                                         style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                        <span>80%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="tpcard__bottom d-flex justify-content-between">
                                <div class="tpcard__details">
                                    <span class="subtitle">our goal</span> <br>
                                    <span class="sale">$34.0000</span>
                                </div>
                                <div class="tpcard__details">
                                    <span class="subtitle">Raised</span> <br>
                                    <span class="sale">$11.9098</span>
                                </div>
                                <div class="tpcard__details">
                                    <span class="subtitle">to go</span> <br>
                                    <span class="sale">$56,000</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="causes-item">
                    <div class="tpcard__wrapper tpcard__wrappr-2 white-bg">
                        <div class="tpcard__img grayscale">
                            <a href="donation-listing.html"><img src="~/Content/images/annie-spratt-feU8G7E5ODI-unsplash.jpg" alt=""></a>
                        </div>
                        <div class="tpcard__content">
                            <h4 class="tpcard__title">
                                <a href="donation-listing.html">You Can Give Kids in India Clean Water and food</a>
                            </h4>
                            <div class="tpcard__progresss">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-label="Example with label"
                                         style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                        <span>75%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="tpcard__bottom d-flex justify-content-between">
                                <div class="tpcard__details">
                                    <span class="subtitle">our goal</span> <br>
                                    <span class="sale">$34.0000</span>
                                </div>
                                <div class="tpcard__details">
                                    <span class="subtitle">Raised</span> <br>
                                    <span class="sale">$11.9098</span>
                                </div>
                                <div class="tpcard__details">
                                    <span class="subtitle">to go</span> <br>
                                    <span class="sale">$56,000</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="causes-item">
                    <div class="tpcard__wrapper tpcard__wrappr-2 white-bg">
                        <div class="tpcard__img grayscale">
                            <a href="donation-listing.html"><img src="~/Content/images/annie-spratt-feU8G7E5ODI-unsplash.jpg" alt=""></a>
                        </div>
                        <div class="tpcard__content">
                            <h4 class="tpcard__title">
                                <a href="donation-listing.html">Life skills for Children in South Africa and UK</a>
                            </h4>
                            <div class="tpcard__progresss">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-label="Example with label"
                                         style="width: 95%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                        <span>95%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="tpcard__bottom d-flex justify-content-between">
                                <div class="tpcard__details">
                                    <span class="subtitle">our goal</span> <br>
                                    <span class="sale">$34.0000</span>
                                </div>
                                <div class="tpcard__details">
                                    <span class="subtitle">Raised</span> <br>
                                    <span class="sale">$11.9098</span>
                                </div>
                                <div class="tpcard__details">
                                    <span class="subtitle">to go</span> <br>
                                    <span class="sale">$56,000</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="causes-item">
                    <div class="tpcard__wrapper tpcard__wrappr-2 white-bg">
                        <div class="tpcard__img grayscale">
                            <a href="donation-listing.html"><img src="~/Content/images/annie-spratt-feU8G7E5ODI-unsplash.jpg" alt=""></a>
                        </div>
                        <div class="tpcard__content">
                            <h4 class="tpcard__title">
                                <a href="donation-listing.html">Help poor people give food and Careing african child</a>
                            </h4>
                            <div class="tpcard__progresss">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-label="Example with label"
                                         style="width: 65%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                        <span>65%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="tpcard__bottom d-flex justify-content-between">
                                <div class="tpcard__details">
                                    <span class="subtitle">our goal</span> <br>
                                    <span class="sale">$34.0000</span>
                                </div>
                                <div class="tpcard__details">
                                    <span class="subtitle">Raised</span> <br>
                                    <span class="sale">$11.9098</span>
                                </div>
                                <div class="tpcard__details">
                                    <span class="subtitle">to go</span> <br>
                                    <span class="sale">$56,000</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="causes-item">
                    <div class="tpcard__wrapper tpcard__wrappr-2 white-bg">
                        <div class="tpcard__img grayscale">
                            <a href="donation-listing.html"><img src="~/Content/images/annie-spratt-feU8G7E5ODI-unsplash.jpg" alt=""></a>
                        </div>
                        <div class="tpcard__content">
                            <h4 class="tpcard__title">
                                <a href="donation-listing.html">Help Children Rise out of Poverty of this child</a>
                            </h4>
                            <div class="tpcard__progresss">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-label="Example with label"
                                         style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                        <span>80%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="tpcard__bottom d-flex justify-content-between">
                                <div class="tpcard__details">
                                    <span class="subtitle">our goal</span> <br>
                                    <span class="sale">$34.0000</span>
                                </div>
                                <div class="tpcard__details">
                                    <span class="subtitle">Raised</span> <br>
                                    <span class="sale">$11.9098</span>
                                </div>
                                <div class="tpcard__details">
                                    <span class="subtitle">to go</span> <br>
                                    <span class="sale">$56,000</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                <div class="tpcard-btn d-flex justify-content-center mt-55">
                    <a class="tp-btn tp-btn-shine-effect" href="our-portfolio.html">All Campains</a>
                </div>
            </div>
        </div>
    </section>
    <!-- card area end -->

</main>

<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js'></script>
<script src="~/Content/js/slider.js?v=@cssVersion"></script>

