<!-- fact area start -->
<section class="fact-area pb-85" style="margin-top:50px; padding-bottom:50px;">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="fact-wrap text-center about-foundation">
                    <h2 class="section-title">
                        Những con số biết nói
                    </h2>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="tp-fact d-flex justify-content-center align-items-center mt-20">
                    <div class="tp-fact__visit">
                        <h3>
                            <span data-purecounter-duration="1" data-purecounter-end="@ViewBag.TotalProjects" class="purecounter"></span>
                        </h3>
                    </div>
                    <div class="tp-fact__text">
                        <p class="tp-fact__title">Dự án</p> <br>
                        <p class="tp-fact__subtitle">đang được gây quỹ</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="tp-fact d-flex justify-content-center align-items-center mt-20">
                    <div class="tp-fact__visit">
                        <h3>
                            <span data-purecounter-duration="1" data-purecounter-end="@ViewBag.TotalSuccessContributions"
                                  class="purecounter">0</span>k+
                        </h3>
                    </div>
                    <div class="tp-fact__text">
                        <p class="tp-fact__title">Lượt</p> <br>
                        <p class="tp-fact__subtitle">ủng hộ</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="tp-fact d-flex justify-content-center align-items-center mt-20">
                    <div class="tp-fact__visit">
                        <h3>
                            <span data-purecounter-duration="1" data-purecounter-end="@ViewBag.TotalSuccessPaymentValue" class="purecounter">0</span>@ViewBag.TotalSuccessPaymentUnit+
                        </h3>
                    </div>
                    <div class="tp-fact__text">
                        <p class="tp-fact__title">Tiền</p> <br>
                        <p class="tp-fact__subtitle">ủng hộ thành công</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- fact area end -->
